.textarea-block{
    position: relative;
}
/*Aplicado a todos os .textarea-block seguidos de outro .textarea-block*/
.textarea-block + .textarea-block{
    margin-top: 1.4rem;
}

.textarea-block label{
    font-size: 1.4rem;
}

.textarea-block textarea{
    font-size: 1.6rem Archivo;
    border-radius: 0.8rem;
    width: 100%;
    min-height: 8rem;
    height: 16rem;
    max-height: 60rem;
    margin-top: 0.8rem;
    outline: 0;
    resize: vertical;
    padding: 1.2rem 1.6rem;
    border: 1px solid var(--color-line-in-white);
    background: var(--color-input-background);

}

/*O After será inserido quando algum elemento dentro do block estiver focado*/
.textarea-block:focus-within::after{
    width: calc(100% - 3.2rem);
    height: 3px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 7px;
}